Template VARIANT: other.variant.jinja
<div class="other variant">
is variant
</div>
Template: other.jinja
<div class="other template">
<span></span>
NOT variant
</div>
Template: other.jinja
<div class="other template">
<span></span>
NOT variant
</div>
Template: other.jinja
<div class="other template">
<span></span>
NOT variant
</div>
Template VARIANT: other.variant.jinja
<div class="other variant">
is variant
</div>
Template VARIANT: other.variant2.jinja
<div class="other variant2">
is variant2
</div>
<link type="text/css" rel="stylesheet" href="component-library-other.css" media="screen">
<script src="component-library-other.variant.js"></script>