Template: test.jinja
<div class="test template" data-bs-theme="dark">
<span>dark attribute</span></div>
Template: test.jinja
<div class="dark test template">
<span>dark class</span></div>
Template: test.jinja
<div class="test template">
<span>theme not in config</span></div>
Template: test.jinja
<div class="test template">
<span>empty theme</span></div>
Template: test.jinja
<div class="test template">
<span>invalid array theme</span></div>
Template: test.jinja
<div class="test template">
<span>invalid obj theme</span></div>